# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Data
/data/image/CBIS-DDSM/
/data/image/0_raw/
/data/image/
/tests/data

# Notebooks
/notebooks/lab/tf_dataset.ipynb

# Model Checkpoints
/models/checkpoints/
/models/
/wandb/

# Logs
/logs
/log

# Plots
/plots

# Proprietary File Formats
**/*.pptx
**/*.docx

# Notes and Research
/notes
/research
/dendron

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/

# IDEs
.idea/
dendron/notes/daily.journal.2023.11.01.md
